.masthead__inner-wrap a {
  color: #00008B;          /* dark blue links in main content */
  text-decoration: none;   /* no underline */
}

.masthead__inner-wrap a:hover {
  color: #191970;          /* darker blue on hover */
  text-decoration: underline;
}
